// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$red:#9c2225;
$blue:#2fa7b7;
$gold:#dd9727;
$ltg:#e7e6dc;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,600');



p, strong, ul, li, a, form, input, button, label, table, tr, td, ol{
  font-family: arial;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.8em;
  color:#333;
}

h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

h1{

}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin:0px 0 20px 0;
}

h3{
  margin:30px 0;
}

strong{
  font-weight: bold;
}

p a{
  color:#fff;
  text-decoration: underline;
}

ul, li{
  margin:0px;
  padding:0px;
  list-style:none;


}




ul.gold{
  margin:15px;
  li{
    margin-bottom:10px;
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAIklEQVQYV2NkYGBguDtd/T+IBgHlzJuMjMgCMAkSBLGZCQB8fw/UuX88jAAAAABJRU5ErkJggg==");
  }

}

ul.white, ol.white{
  margin:15px;
  li{
    color:#FFF;
    margin-bottom:10px;
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAH0lEQVQYV2NkYGBg+P///38QDQKMIIAsAJcgXhCbmQCYqhP6XcW1qwAAAABJRU5ErkJggg==");
  }

}

ol{
  margin:20px 0 0 20px;
  padding:0px;
  li{
    list-style: decimal;
  }
}

ol.spacing, ul.spacing{
  li{
    margin-bottom:10px;
  }
}

ol.white{
  li{
    list-style: decimal;
  }
}

li a{
  text-decoration: underline;
}

input, textarea{
  background:none;
  width:100% !important;
  border:1px solid #FFF;

}

input[type='submit']{
  width:auto !important;
}

body .gform_wrapper .top_label div.ginput_container, .gform_wrapper .gform_footer{
  margin-top:0px !important;
}

.btn-primary, .btn-secondary, input[type='submit']{
  background: $blue;
  border:none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 0px;

  &:hover{
    background: $gold;
  }
}

.btn-secondary{
  background: none;
  border:1px solid #fff;
  text-decoration: none;
  margin-top:20px;

  &:hover{
    background: $blue;
  }
}

.nav-pills .nav-link{
  margin:15px 0;
  border:1px solid $red;
  border-radius: 0px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

  &:hover{
    border:1px solid $blue;
    color:$blue !important;
  }
}

.custom-logo-link{
  width:200px;
}

.bg-dark, .bg-gold, .bg-blue, .bg-grey{
  background-color:$red !important;
  p,h1,h2,h3,h4,h5,strong,a,ul,li,input,label, textarea{
    color:#FFF ;
  }
}

.icon-svg{
  width:60px;
  height:auto;
}

.bg-gold{
  background-color:$gold !important;
}
.bg-blue{
  background-color:$blue !important;
}

.bg-grey{
  background-color: #333 !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
  color:$gold;
}

.navbar-dark .navbar-nav .nav-link, .site-info, .site-info a{
  color:#FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 13px;
  text-decoration: none;
}

.full-img{
  height:850px;
  background-position: top center;
  background-size: cover;

  .container{
    position: relative;
    z-index: 5;
  }
}

.site-info p{
  margin-top:10px;
}

.margin{
  margin:0px auto 50px auto;


}

.pull-up{
  position: relative;
  top:-30px;
  margin-bottom:-30px;
}

hr{
  border-top:1px solid rgba(255,255,255,.8);
}

.gfield_required{
  color:#FFF !important;
}

.Top{
  margin-bottom:0px;
}
.Top .container{
  position: relative;
  top:-200px;
}

table{
  margin:40px 20px;
}
th{
  text-align: center;
  padding:20px 20px;
}
td{
  padding:20px 20px;
}
td:nth-child(2n + 2), td:nth-child(3n + 3){
  text-align: center;
}

.custom-card{
  background: $ltg;
  margin-bottom:10px;

  img{
    width:100%;
  }

  .custom-card-content{
    padding:20px 10px 50px 10px;
  }

  button{
    position: absolute;
    bottom:20px;
    background: none;
    border:1px solid #000;
    left:50%;
    transform: translateX(-50%);

    a{
      text-decoration: none;
      color:#333;
    }

    &:hover{
      background: #AAA;
    }

  }
}

button.white{
  background: none;
  border:1px solid #FFF;
  color:#FFF;

  a{
    text-decoration: none;
    text-transform: uppercase;
    color:#FFF;
  }
}

#wrapper-footer{
  padding:25px 0px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu{
  border:none !important;
  margin:0px !important;
}

.navbar-dark .navbar-nav .dropdown-menu .nav-link.active, .navbar-dark .navbar-nav .dropdown-menu .nav-link:active{
  background-color: $gold;
}
